**.pyc
**/__pycache__
**/_tmp**
*_result
save**
old_*
**.csv
trajectory*
.ipynb_checkpoints
experiment/results_*
data4sim
sumo_data
prepared_dataset
plots
mox.ipynb
_scene_from_sionna_old.xml
# latex related cache files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.out
*.log
*.synctex.gz